Source: manpages-tr
Section: doc
Priority: optional
Maintainer: Murat Demirten <murat@debian.org>
Build-Depends: debhelper (>= 5.0), zlib1g-dev, libxslt1.1, libxml2
Standards-Version: 3.7.3

Package: manpages-tr
Architecture: all
Suggests: man-browser, manpages
Replaces: dpkg (<< 1.13.2)
Description: Turkish version of the manual pages
 This package contains the Linux manual pages translated into Turkish.
 The following sections are included:
  * 1 = User programs (e.g. ls, ln)
  * 2 = Linux system calls (e.g. exit, fork, open)
  * 3 = Library functions (e.g. malloc, printf)
  * 4 = Devices (e.g. hd, sd).
  * 5 = File formats and protocols, syntaxes of several system
        files (e.g. wtmp, /etc/passwd, nfs).
  * 6 = Games etc.
  * 7 = Conventions and standards, macro packages, etc.
        (e.g. nroff, ascii).
  * 8 = System administration commands.
